@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-soft-cream: #F8F3D9;
  --color-light-oat: #EBE5C2;
  --color-medium-latte: #B9B28A;
  --color-dark-coffee: #504B38;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-dark-coffee);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
#website-name {
  font-family: "Sour Gummy";
} */